.intro {
    margin: 0 auto;
    padding: 92px 0;
    max-width: 984px;
}
@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}
@media screen and (max-width: 1023px) {
    .intro {
        padding: 88px 0;
        max-width: 720px;
        margin: 0 24px;
    }
}
@media screen and (max-width: 728px) {
    .intro {
        padding: 64px 0;
        max-width: 288px;
        margin: 0 16px;
    }
}
