.intro__list-text {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}
@media screen and (max-width: 1023px) {
    .intro__list-text {
        max-width: 720px;
    }
}
@media screen and (max-width: 728px) {
    .intro__list-text {
        max-width: 288px;
    }
}